[submodule "eu_aceito"]
	path = eu_aceito
	url = https://github.com/ericcleao/eu_aceito.git
[submodule "c_piscine_shell_00"]
	path = c_piscine_shell_00
	url = https://github.com/ericcleao/c_piscine_shell_00.git
[submodule "c_piscine_shell_01"]
	path = c_piscine_shell_01
	url = https://github.com/ericcleao/c_piscine_shell_01.git
[submodule "c_piscine_c_00"]
	path = c_piscine_c_00
	url = https://github.com/ericcleao/c_piscine_c_00.git
[submodule "c_piscine_c_01"]
	path = c_piscine_c_01
	url = https://github.com/ericcleao/c_piscine_c_01.git
[submodule "c_piscine_c_02"]
	path = c_piscine_c_02
	url = https://github.com/ericcleao/c_piscine_c_02.git
[submodule "c_piscine_c_03"]
	path = c_piscine_c_03
	url = https://github.com/ericcleao/c_piscine_c_03.git
[submodule "c_piscine_c_04"]
	path = c_piscine_c_04
	url = https://github.com/ericcleao/c_piscine_c_04.git
[submodule "c_piscine_c_05"]
	path = c_piscine_c_05
	url = https://github.com/ericcleao/c_piscine_c_05.git
[submodule "c_piscine_c_06"]
	path = c_piscine_c_06
	url = https://github.com/ericcleao/c_piscine_c_06.git
